/*navbar*/
.back-nav{
    background-color: white;
    height: 100px;
}
.nav-logo{
    height: 100px;
    width: 100%;
    box-sizing: border-box;
}
.itemheight{
    vertical-align: middle;
    position: relative;
    top:40px;
}
.items-feat{
    font-family: 'Montserrat', sans-serif;
    padding-left:25px;
    padding-right: 25px;

}

/*Intro Jumbotron*/
.welcome{
    height:745px;
    width: 100%;
    background-image: url(images/main.jpg);
    background-repeat: no-repeat;
}
.welcome-info{
    background-color: white;
    height:200px;
    width:100%;
    opacity: 0.7;
    bottom:0;
    position: absolute;
    vertical-align: bottom;
    
}
.but-style{
    background-color:black;
    color:white;
    padding: 10px 18px 10px 18px;
}
.welcome-info h2{
    padding-top: 30px;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}
.welcome-info h6{
    padding-bottom:10px;
}
.welcome-info button{
    border-radius: 20px;
}
/*About Us*/
.about{
    height:10px;
}
.about{
    width:100%;
    height:440px;
    overflow-y: auto;

}          
.about h1{
    padding-top: 50px;;
    color:black;
    font-family: 'Unbounded';
    text-indent: 0px;
}
.about h5{
    margin-left: 0px;
}


.car img{
    height:380px;
    object-fit: cover;

}
.row{
    width: 100%;
}
.carousel{
    padding-top: 30px;;
    width:450px;
}
/*Services*/
.head{
    padding-top: 30px;;
    font-family: 'Unbounded';
}
.serv{
    height: 350px;
    background-repeat: no-repeat;
}
.serv-items{
    background-color: black;
    height: 280px;
    width: 280px;
    border-radius: 5%;
    margin-top: 45px;
}

